.volume {
    position: relative;
    &__noMute,&__mute {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        margin-right: 4px;
        border: 0;
        background: none;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__noMute{
        background-image: url("./../../../img/icons/volume.svg");
    }
}
.volume__level {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-left: 14px;
    border: 0;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/img/icons/volume_medium.svg");
    &_mute{
        background-image: url("./../../../img/icons/volume_mute.svg");
    }
}
.volume__level_high {
    background-image: url("/img/icons/volume_high.svg");//ше не працює
}

