.boombox {
    width: 1024px;
    height: 624px;
    z-index: 100;
    position: relative;
    margin: 0 auto;
    background: url("./../../img/boombox-5467421_1280.webp") 0 0/1024px 624px no-repeat;
    line-height: 13px;
    &__timer {
        position: absolute;
        background-color: black;
        width: 36px;
        padding-left: 4px;
        top: 291px;
        left: 516px;
        font-size: 12px;
        line-height: 11.2px;
        font-family: "Times New Roman", Times, serif;
        letter-spacing: 5.6px;
    }
    &__left {
        position: absolute;
        top: 263px;
        left: 20.8px;
        clip-path: polygon(0 0, 100% 0, 100% 254px, 320px 254px, 320px 100%, 0 100%);
    }
    &__right {
        position: absolute;
        top: 262.4px;
        left: 665.6px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 17.6px 100%, 17.6px 254.4px, 0 254.4px);
    }
    @media(max-width:1024px){
        display: none;
    }
}
