.btnDeleteList {
    background-color: red;
    color: aliceblue;
    width: 100%;
    z-index: 100;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    &_open {
        max-height: 100px;
    }
    &__deleteAlert {
        background-color: rgb(238, 143, 143);
        color: aliceblue;
        width: 100%;
        z-index: 100;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.5s;
        &_open {
            max-height: 100px;
        }
    }
}
