.listTracks {
    padding: 5px 5px 0 5px;
    position: relative;
    height: 87%;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        width: 7px; //висота повзунка
    }
    &::-webkit-scrollbar-thumb {
        background-color: #b68221; /* колір "ползунка" скрола */
        border-radius: 5px; /* закруглені кути "ползунка" */
    }
    scroll-behavior: smooth; /* Додаємо плавність скроллу */
}
// transition: scroll-behavior 0.5s ease-in-out;
