.playLists{
      width: 1280px;
      height: 780px;
      z-index: 100;
      position: relative;
      margin: 0 auto;
      background: url('./../../img/boombox-5467421_1280.webp')0 0/100% 100% no-repeat;
}