.deleteAlert{
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
    button{
        margin: 0 5px;
        padding: 0 5px;
        background-color: rgba(240, 248, 255, 0);
        &:first-child{
            color: rgb(111, 184, 3);
        }
        &:last-child{
            color: red;
        }
    }
}
