.cassetteBoombox {
    position: absolute;
    top: 328px;
    left:387px;
    width: 248px;
    height: 156px;
    margin: 0 auto;
    &__body {
        position: absolute;
        z-index: 100;
        top: 0;
        width: 100%;
        height: 100%;
        background: url("./../../../img/cassette-body.png") 0 0/100% 100%;
        // no-repeat;
    } //картинка касети
    &__cover {
        position: absolute;
        z-index: 100;
        top: 10.4px;
        left: 12.8px;
        width: 222.4px;
        height: 105.6px;
        background-color: #343331;
        background-size: cover;
        background-position: center center;
        clip-path: polygon(
            //робимо обмеження
            222.4px 105.6px,
            222.4px 0,
            0 0,
            0 105.6px,
            222.4px 105.6px,

            //малюєм полігон
            53.6px 72px,
            43.2px 64px,
            43.2px 51.2px,
            54.4px 41.6px,
            65.6px 41.6px,
            76px 52px,
            76px 58.4px,
            145.6px 58.4px,
            145.6px 52px,
            156px 41.6px,
            168.8px 41.6px,
            179.2px 52px,
            179.2px 61.6px,
            168.8px 72px,
            156px 72px,
            145.6px 64px,
            145.6px 52px,
            76px 58.4px,
            76px 64px,
            66.4px 72px,
            53.6px 72px
        ); //вирізання куска елемента в середині касети
    } //покриття касети
    &__reel {
        position: absolute;
        z-index: 90;
        top: 52px;
        width: 27.2px;
        height: 31.2px;
        background: url("./../../../img/cassette-reel.png") 0 0/100% 100% no-repeat;
        background-repeat: no-repeat;
        color: #16181a;
        border-radius: 50%;
        &_left {
            left: 57.6px;
        }
        &_right {
            left: 163.2px;
        }
    } //колеса з анімацією де колесо повільніше обертається, коли не задана анімація на праве колесо то обидва будуть крутитись повільно
    &.play {
        .cassetteBoombox__reel {
            &_left {
                animation: cassette-reel-spin 3s linear infinite; //анімація обертання
            }
            &_right {
                animation: cassette-reel-spin 1.5s linear infinite; //анімація обертання
            }
        }
    }
}
