.track {
    font-size: 13px;
    line-height: 13px;
    display: flex;
    width: 100%;
    &__position {
        width: 7%;
        text-align: center;
    }
    &__title {
        white-space: nowrap; /* Забороняє переноси */
        overflow: hidden; /* Приховує вміст, що виходить за межі */
        text-overflow: ellipsis; /* Відображає три крапки, якщо вміст обрізаний */
        width: 50%;
        text-align: start;
    }
    &__rating{
      width: 65px;
    }
    &__duration{
      width: 10%;
    }
}
