.playList{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__left{
        width: 800px;
        height: 70%;
        @media(max-width:800px){
            width: 100%;
        }
    }
    
}