.track {
    font-size: 10.4px;
    display: flex;
    width: 100%;
    height: 16px;
    margin-bottom: 4px;
    line-height: 16px;
    justify-content: space-between;
    &_sounds {
        background-color: rgb(255, 94, 0);
    }
    &__position {
        width: 5.6%;
        text-align: center;
        cursor: default;
    }
    &__title {
        white-space: nowrap; /* Забороняє переноси */
        overflow: hidden; /* Приховує вміст, що виходить за межі */
        text-overflow: ellipsis; /* Відображає три крапки, якщо вміст обрізаний */
        width: 40%;
        text-align: start;
        cursor: pointer;
    }
    &__rating {
        width: 52px;
    }
    &__duration {
        width: 8%;
        cursor: default;
    }
    &__addIco {
        width: 16px;
        border-radius: 50%;
        box-shadow: 0 0 1.6px 1.6px rgb(201, 146, 29);
        cursor: pointer;
        &_active {
            box-shadow: 0 0 1.6px 1.6px rgb(29, 195, 201);
        }
    }
    &__spoiler {
        will-change: left;
        position: absolute;
        left: -90%;
        transition: left 0.24s;
        width: 90%;
        background-color: aquamarine;
        &_open {
            left: 0;
        }
    }
    &__btnToList {
        padding: 0 4px;
        margin: 0 1.6px;
    }
}
