.List{
      overflow-y: scroll;
      scrollbar-width: none;
      &::-webkit-scrollbar {
            width: 0;
            height: 0;
          }
      width: 422px;
      height: 400px;
      background-color: rgba(190, 176, 156, 0.945);
      // background-color: antiquewhite;
      box-shadow: 0 0 5px 3px rgb(73, 73, 73);
      padding: 5px;
      &__btn{
            background-color: rgba(245, 222, 179, 0);
            padding:0 5px;
            margin: 0;
      }
}