.player {
    position: relative;
    width: 600px;
    // height: 100%;
    text-align: center;
    @media(max-width:600px){
        width: 100%;
    }
    &__controls {
        //позиціонує кнопки управління по середині
        position: absolute;
        z-index: 1000;
        top: 70px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media(max-width:500px){
            top:27px;
        }
        &__button {
            will-change: transform;
            display: inline-block;
            vertical-align: top;
            width: 65px;
            height: 30px;
            background: none;
            background-repeat: no-repeat;
            background-position: center;
            transition: transform 0.3s;
            &:hover{
                transform: scale(1.2);
            }
            &.prev {
                background-image: url("/img/icons/prev.svg");
                &.none{
                    opacity: 0.3;
                    cursor: default;
                }
            }
            &.play {
                background-image: url("/img/icons/play.svg");
            }
            &.pause {
                background-image: url("/img/icons/pause.svg");
            }
            &.next {
                background-image: url("/img/icons/next.svg");
            }
        }
    }
    &.play {
        .cassette {
            &__reel {
                &_left {
                    animation: cassette-reel-spin 3s linear infinite; //анімація обертання
                }
                &_right {
                    animation: cassette-reel-spin 1.5s linear infinite; //анімація обертання
                }
            }
        }
    }
}
