.player {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 60px 0;
    &__title {
        margin: 0;
        font-size: inherit;
        font-weight: normal;
        @media (max-width: 600px) {
            font-size: 17px;
        }
        span {
            color: #9cf1ff;
        }
    }
    &__rating {
        position: relative;
        width: 125px;
        height: 25px;
    }
}
