@import url(https://db.onlinewebfonts.com/c/e1c54273e7b240a0a0f62221e243ab69?family=Newtown+Italic+V1);

body {
  // font-family:sans-serif;
  letter-spacing: 1px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus{
  // outline: none;
  //табуляція видна tab scrole
}
:active {
  outline: none;
}
a:focus{
  // outline: none;
  //табуляція видна tab scrole
}
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  .root{
    width: 100%;
     height: 100%; 
  }
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
P{
  cursor: default;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  font-weight: 400;
  cursor: default;
  //вимкнення зміни вигляну мишки
}

//added
html {
  color: #fefefe;
}
::-moz-selection {
  background: #ff3ae6;
  text-shadow: none;
}
::selection {
  background: #ff3ae6;
  text-shadow: none;
}
:focus {
  outline-color: #ff3ae6;
}
@keyframes cassette-reel-spin {
  0% {
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -o-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
  }
  100% {
      -webkit-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
      transform: rotate(-360deg);
  }
}